<nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed top-0 left-0 right-0 w-100"  style="background-color: #ddc7ca;">
  <div class="container-fluid">
    <!-- <div class="d-flex justify-content-center">
      <a class="navbar-brand " href="#">Navbar</a>
    </div> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding-right: 2rem">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class=" rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [style.background-color]="this.backgroundColor">
            {{this.name | slice:0:3 | uppercase}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Playlist</a></li>
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>

      <div class="container d-flex justify-content-center  " style="padding-left: 12rem;">
        <a class="navbar-brand border border-dark border-2 p-3 display-6">APNA THEATRE</a>
      </div>
       
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="
        margin: auto;
        margin-right: 1rem; ">
        {{ selectedOption ? selectedOption : 'Options' }}
        </button>
        <ul class="dropdown-menu">
          <!-- <li><button class="dropdown-item" type="button" (click)="selectOption('Year')">Year</button></li> -->
          <li><button class="dropdown-item" type="button" (click)="selectOption('Title')">Title</button></li>
          <li><button class="dropdown-item" type="button"(click)="selectOption('IMDb ID')">IMDb ID</button></li>
        </ul>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [placeholder]="searchPlaceholder" aria-label="Search"  name="search"  [(ngModel)]="value">
        <button class="btn btn-outline-success" type="submit"
        (click)="search()">Search</button>
      </form>
    </div>
  </div>
</nav>
  <div class="row" style="margin-top: 8rem;">
  
<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let movie of responseArray">
  <div class="block-4 text-center border">
      <img src="{{movie.Poster}}" width="250px" height="350px" />
    <div class="block-4-text p-4">
      <h3><a (click)="details(movie.imdbID)">{{movie.Title}}</a></h3>
      <p class="mb-0">{{movie.Year}}</p>
      <p class="text-primary font-weight-bold"></p>
    </div>
  </div>
</div>
</div>



